{% load static %}
{% static "img" as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/form2.css' %}"></link>


    
    <title>Agriculture Products Supplychain</title>
    <link rel="icon" href="{% static 'img/agriculture_products_supplychain.jpg' %}" style="border-radius: 10px;" type="image" sizes="16x16">

    <script src="{% static 'js/node_modules/web3/dist/web3.min.js' %}"></script>
    <script src="{% static 'js/etherum_connection.js' %}"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/agriculture_products_supplychain.jpg' %}" width="120" height="80" class="d-inline-block align-top" alt="" style="border-radius: 10px 10px 10px 10px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="userhomepage"><span style="color: #fe766a; font-size: 22px;"><b><i>Home</i></b></span> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="userviewproductspage"><span style="color: #fe766a; font-size: 22px;"><b><i>View Product</i>s</b></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span style="color: #fe766a; font-size: 22px;"><b><i>My Orders</i></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="orderplaced" style="color: #2cade4; font-size: 18px;">Placed Orders</a>
              <a class="dropdown-item" href="userordercancelledlist" style="color: #2cade4; font-size: 18px;">Cancelled Orders</a>
              <a class="dropdown-item" href="userordertrackinglist" style="color: #2cade4; font-size: 18px;">Tracking Orders</a>
              <a class="dropdown-item" href="userorderdeliverdlist" style="color: #2cade4; font-size: 18px;">Delivered Orders</a>
            </div>
          </li>
          </ul>
          <a href="userlogout"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button></a>
        </form>
      </div>
    </nav>

<br><br><br><br>
    <div class="container" >
        <h2 style="font-family: Segoe Print; color: #28b1f5; padding: 30px;"><b>Cancelled Orders</b></h2>
      <table class="table"  id="tt">
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Order ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Manufacturer ID</th>
            <th scope="col">Current Address</th>
            <th scope="col">DateTIme</th>
          </tr>
        </thead>
      </table>

      <div id="loading">
        <img src="{% static 'img/loading.gif' %}"  width="50%" height="50%" class="d-inline-block align-top" alt="loading" >
      </div>
      
      <br><br><br><br><br><br><br>

    </div>


    <script>
      window.onload = getmyorder();
      var totalcount = 0

      async function getmyorder(){

        await StorageContract.methods.count_order().call(function(error,result){
            if(!error)
              {
                console.log("Length:"+result);
                totalcount = result
                $("#message").html("");
                $("#message2").html("Product ID: "+result+"</br> Product is Added Successfully" ).css({color: "#ffa500"});
              }
            else
              console.log(error);
          });

          for(var i = totalcount; i => 0; --i) 
          {
            await StorageContract.methods.get_user_order_details(i).call(function(error,result){  
            if(!error)
            {
                console.log(result, {{uid}})
                if(result[4] == 2 && result[5] == {{uid}})
                {   
                    // orders[_orderid].orderid,
                    // orders[_orderid].productid,
                    // orders[_orderid].logisticid,
                    // orders[_orderid].fromadd,
                    // orders[_orderid].orderstatus,
                    // orders[_orderid].userid,
                    // orders[_orderid].timestamp

                    $("#message").html("");
                    console.log("\n orderid: "+result[0]+ "\n productid: "+ result[1]+"\n manufacturer: "+result[2] +"\n fromadd: "+result[3] + "\n orderstatus: " + result[4] + "\n userid: " + result[5]+ "\n timestamp: " + result[6]);
                      
                    var theDate = new Date(result[6] * 1000);
                    dateString = theDate.toGMTString();

                    sessionStorage.oid = result[0]
                    sessionStorage.pid = result[1]
                    sessionStorage.mid = result[2]
                    sessionStorage.fromadd = result[3]
                    sessionStorage.userid = 2

                    document.getElementById( 'tt' ).innerHTML += '<tr id = "row' + i + '"><td>'+'<img src="{% static "img/cancel.png" %}" width="28" height="28">'+'</td><td>'+result[0]+'</td><td>'+result[1]+'</td><td>'+result[2]+'</td>'+'<td>'+result[3]+'</td>'+'<td>'+dateString+'</td></tr>';
                    document.getElementById("loading").style.display = "none";
                  }
            }
            else{
                console.log(error);
            } 
          });
            }
        }


      

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>